<!DOCTYPE html>
<html>
<head>
  <title>Video Example</title>
</head>
<body>
  <h2>Serving video files from Flask template</h2>
  <video width="600" height="600" controls>
    <source src={{ url_for('static', filename="demo.mp4") }} type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <form method="POST" action="process">
    <input type="range" min="0" max="100" name="slider" value={{slider_value}} />
    <input type="submit" value="submit" />
    </form>
    <br/>
    
    <p>slider val: {{slider_value}}</p>

</body>
</html>