<!DOCTYPE html>
<html>
<head>
  <title>Video Processor</title>
  <meta name = "viewport" content = "width = device-width, initial-scale=1">
  <style>
    img{ display: block;
        margin-left: auto;
        margin-right: auto;
    }
    h1 {text-align: center;}
</style>
</head>
<body>
  <h2> File Upload and Preprocessing </h2>
  
  <!--
  <video width="1200" height="600" controls>
    <source src={{ url_for('download_file', filename='output.mp4') }} type="video/mp4">
    Your browser does not support the video tag.
  </video>
  -->

  <img id="bg" src = "{{ url_for('video_feed') }}" style="height: 600px;">


  <form action = "/success" method = "post" enctype="multipart/form-data">   
    <input type="file" name="video file" />   
    <input type = "submit" value="Upload">   
  </form>   

  <br/>
  <br/>

  <form method="POST" action="/preprocess"> 
    <input type="checkbox" name="use_median"/>
    <label for="use_median">Use Median Filter</label>
    <input type="submit" value="Process" />
    </form>
    <br/>

    <form action="/detect" method="GET">
      <input type="submit" value="Next">

</body>
</html>